.profile {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 100px;
  }

  #file{
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
  }